{% extends 'BackendBundle::base_backend.html.twig' %} 
{% block title %} Editar Clasif. Patrimonio {% endblock %}       
{% block content %}
 <h3> Editar Clasif. Patrimonio </h3>
{{ form(form,{'attr': {'novalidate':'novalidate'}} )}} 
    <ul class="record_actions">
    <li>
        <a href="{{ path('patrimonioclasif_listado') }}">
            Volver a Listado
        </a>
    </li>
</ul>

{% endblock %}