{% extends 'BackendBundle::base_backend.html.twig' %} 
{% block title %} Clasificaciones de Patrimonios {% endblock %}       
{% block content %}
<h3> Nuevas Clasificaciones </h3>
<table>
<tr>
<td>

 {{ form(form,{'attr': {'novalidate':'novalidate'}} )}}   <!-- novalidate anula la validacion de los browser y se los reemplaza por los asserts-->

</td>
</tr>
</table>
{% endblock %}