{% extends '::base.html.twig' %}
{% block content %}

        <h3>Error de permisos AT Manager</h3>
        <h5> No tiene privilegios para este proceso {{ status_code }} {{ status_text }}</h5>
        <a href="javascript:history.back(1)">Volver</a>

{% endblock %}
