{% extends '::base.html.twig' %}

 
{% block menuwrap %}
        <div class="col-xs-3" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="" class="list-group-item">Pedir asistencia técnica</a>
            <a href="{{ path('local_listado')}}" class="list-group-item">Locales</a>
           </div>
        </div><!--/span-->
 {% endblock %}