{% extends 'FrontendBundle::base_frontend.html.twig' %}

{% block content %}

         <h3> <p> Funcionalidad <strong>Frontend del sistema</strong> </p> </h3>
	{% if app.user %}
         {{ app.user.nombre }}  {{ app.user.sector }}
         <a href="{{ path('fos_user_security_logout')}}">logout</a> 
      {% endif %} 
 {% endblock %}
