{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Editar Técnico</h3>

	{{ form(form,{'attr': {'novalidate':'novalidate'}} )}}

        <a href="{{ path('tecnico_listado') }}">
            Volver a listado
        </a>
{% endblock %}
