{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}

    <h3>Nueva Evolución para : {{ entity.at }}</h3>

    {{ form(form,{'attr': {'novalidate':'novalidate'}}) }}
     
        <a href="{{path('at_historico', {'idAt': entity.at.id }) }}">
        	
        <h4>[Volver]</h4>
        </a>
    
 {% endblock %}
