{% extends 'FrontendBundle::base_frontend.html.twig' %} 
{% block content %}
    <h3>Buscar Asistencias Técnicas</h3>
   
    <a href="{{ path('at_new') }}">
        <h4>[Solicitar Nueva]</h4>
    </a>

    <div class="row"> 
		<div class="col-xs-6"> 
    
      			{{ form(form,{'attr': {'novalidate':'novalidate'}} )}}

        </div>
    </div>     
        <h5> [Mostrará las últimas 500 coincidencias cronologicamente decreciente] </h5>

 {% endblock %}
