{% extends 'FrontendBundle::base_frontend.html.twig' %} 
{% block content %}
    <h3>Buscar Asistencias Técnicas</h3>
    <a href="{{ path('at_new') }}">
        <h4>[Solicitar Nueva]</h4>
    </a>
    
    {{ form(form)}} 

{% endblock %}
