{% extends 'BackendBundle::base_backend.html.twig' %} 
{% block title %} Marcas {% endblock %}       
{% block content %}
<h3> Nuevas Marca </h3>


  {{ form(form,{'attr': {'novalidate':'novalidate'}} )}} 

  <a href="{{ path('marca_listado') }}">
            Volver a listado
   </a>


{% endblock %}