{% extends 'BackendBundle::base_backend.html.twig' %} 
{% block title %} Marcas {% endblock %}       
{% block content %}
<h3> Nuevas Marca </h3>
<table>
<tr>
<td>

{{ form(form)}}

</td>
</tr>
</table>
{% endblock %}