{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Editando Falla</h3>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('falla_listado') }}">
            Regresar a listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
