{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Editando Falla</h3>

    {{ form(edit_form, {'attr': {'novalidate':'novalidate'}}) }}

<!-- {'style':'horizontal'}, -->
        <a href="{{ path('falla_listado') }}">
            Volver a listado
        </a>

{% endblock %}
