{% extends '::base.html.twig' %}

{% block content %} 

         <h2 class="title">AYUDA</h2>
              <p>Esta es la ayuda del proyecto AT Manager <strong>aún esta en desarrollo</strong></p>
              <p>Escriba mientras tanto a <a href="#"> atmanagerpro@gmail.com </a> </p>
                
{% endblock %}
          
       