{% extends '::base.html.twig' %}
{% block content %}
<h3> Ayuda </h3>
<p> Ayuda de AT Manager está en proceso de desarrollo </p>

<h3> Contacto </h3>
<p> mail: <strong>atmanagerpro@gmail.com</strong></p>


<h3> Sobre el Proyecto </h3>
<p> At Manager es software libre y puede ser descargado para utilizarse con fines no lucrativos.</p>
<p>At Manager está disponible en https://github.com/atmanager/atmanager.</p>
<p>AT Manager es un proyecto académico de Juan Diego Ocampo y Darío Allasina, partiendo de la
idea y visión de Alejandro Ferrando.</p>
{% endblock %}
 