{% extends '::base.html.twig' %}
{% block content %}
<h3> Ayuda </h3>
<p> Ayuda de AT Manager está en proceso de desarrollo </p>

<h3> Contacto </h3>
<p> mail: <strong>atmanagerpro@gmail.com</strong></p>

<h3> Privacidad </h3>
<p> AT Manager es Software Libre y está disponible en <strong>github/atmanager</strong></p>

<h3> Sobre el Proyecto </h3>
<p> Este es un trabajo académico realizado por Juan Diego Ocampo y Darío Allasina </p>
{% endblock %}
 