{% extends '::base.html.twig' %}
{% block content %}
<h3> Ayuda </h3>
<p> Utilice el menú [Ayuda] </p>

<h3> Contacto </h3>
<p> mail: <strong>atmanagerpro@gmail.com</strong></p>


<h3> Sobre el Proyecto </h3>
<p> At Manager 2.0 es software libre y puede ser descargado para utilizarse con fines no lucrativos.</p>
<p><a href="https://github.com/atmanager/atmanager" title="acceder a Git hub"  target="blank">                  
	At Manager está disponible en https://github.com/atmanager/atmanager
    </a>
</p>
<p>AT Manager 2.0 es un proyecto académico para Universidad ORT (Montevideo-ROU)</p>
<p>Programación: Darío Allasina y Juan Diego Ocampo, partiendo de la
idea y visión de Alejandro Ferrando.
</p>
<p>Agradecimientos: Martin Bertinat. División Informática Hospital Masvernat</p>
{% endblock %}
 