{% extends 'AtBundle::base_at.html.twig' %} 
{% block content -%}

    <h4>Agregar una falla en AT : {{ entity.at }}</h4>
    <hr>

    {{ form(form,{'attr': {'novalidate':'novalidate'}}) }}
     
    <a href="{{path('at_falla', {'idAt': entity.at.id }) }}">
        [Volver]
    </a>

     <a href="#" data-toggle="modal" data-target="#myModal">
        [Agregar nueva falla al sistema] 
    </a>


     <!-- Button trigger modal -->


        <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">-AGREGAR NUEVA FALLA </h4>
      </div>
      <div class="modal-body">
        {{ form(formFalla,{'attr': {'novalidate':'novalidate'}}) }}
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>-->
    </div>
  </div>
</div>
    
 {% endblock %}

 {% block javascript %}
	<script type="text/javascript">

	$(document).ready(function(){
		$('#formFalla').on('submit',
			function(){ 

						
						$.ajax({
								url: $(this).attr('action'),
								data: $(this).serialize(),
								type: $(this).attr('method'),
								//dataType: 'json',
								error: function(data,textstatus)
								{
									console.log(data);
									$('#formFalla').html(data.responseText);


								},
								
								success: function(data, textstatus)
								{

									//console.log(data);
									//data = JSON.parse(data);

									$('#atmanager_atbundle_atfalla_falla').append($('<option>', {
										    value: data.id,
										    text: data.nombre
										}));

									$('#atmanager_atbundle_atfalla_falla').val(data.id);

									$('#myModal').modal('toggle');
									
								}
							   });
		return false;
		});

	});

	</script>

{% endblock %}
