{% extends 'AtBundle::base_at.html.twig' %} 
{% block content -%}

    <h4>Agregar una falla en AT : {{ entity.at }}</h4>
    <hr>

    {{ form(form,{'attr': {'novalidate':'novalidate'}}) }}
     
    <a href="{{path('at_falla', {'idAt': entity.at.id }) }}">
        [Volver]
    </a>

     <a href="#" data-toggle="modal" data-target="#myModal">
        [Agregar nueva falla al sistema] 
    </a>


     <!-- Button trigger modal -->


        <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        {{ form(formFalla,{'attr': {'novalidate':'novalidate'}}) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    
 {% endblock %}

 {% block javascript %}
	<script type="text/javascript">

	$(document).ready(function(){
		$('#formFalla').on('submit',
			function(){ return false; 
						$.ajax({
								url: $(this).attr('href')+"/"+$('#atmanager_frontendbundle_at_patrimonio').val(),
								dataType: "json",
								error: function(jqXHR,textstatus)
								{
									$('#descripcion').html('No existe patrimonio...');
									$('#local').html('No existe local..');
								},
								
								success: function(data, textstatus)
								{
									console.log(data);
									$('#descripcion').html(data.descripcion+' en '+data.local);
								}
							   });
		return false;
		});

	});

	</script>

{% endblock %}
