{% extends 'AtBundle::base_at.html.twig' %} 
{% block content -%}

    <h4>Agregar una falla en AT : {{ entity.at }}</h4>
    <hr>

    {{ form(form,{'attr': {'novalidate':'novalidate'}}) }}
     
    <a href="{{path('at_falla', {'idAt': entity.at.id }) }}">
        [Volver]
    </a>

     <a href="{{ path('falla_new')}}" target="_blank">
        [Agregar nueva falla al sistema] 
    </a>
    
 {% endblock %}
