{% extends 'AtBundle::base_at.html.twig' %} 
{% block content -%}

    <h3>Crear Falla para AT : {{ entity.at }}</h3>

    {{ form(form,{'attr': {'novalidate':'novalidate'}}) }}
     
    <a href="{{path('at_falla', {'idAt': entity.at.id }) }}">
        <h4>[Volver]</h4>
    </a>
    
 {% endblock %}
