{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Editar Servicio de Tercero</h3>

	{{ form(edit_form,{'attr': {'novalidate':'novalidate'}} )}}

   
        <a href="{{ path('serviciotercero') }}">
            Back to the list
        </a>

{% endblock %}
