{% extends '::base.html.twig' %}

 
{% block menuwrap %}
        <div class="col-xs-3" id="sidebar" role="navigation">
          <div class="list-group">
            <a href="{{ path('at_new')}}" class="list-group-item">Pedir asistencia técnica</a>
            <a href="{{ path('at_ver_historico', {'id':20} )}}" class="list-group-item">Ver Historico</a>
           </div>
        </div><!--/span-->
 {% endblock %}