{% extends '::base.html.twig' %}


{% block menuwrap %}
    <div class="col-xs-3" id="sidebar" role="navigation">
    <div class="list-group">
	    <a href="{{ path('atecnica_buscador') }}" class="list-group-item" title="Acceso inicial reservado para Jefes de sectores técnicos"
	    >Abordaje inicial de AT</a>

	        
	    <a href="#" class="list-group-item">Agenda de técnicos</a>

    </div>
    </div><!--/span-->
 {% endblock %}