{% extends '::base.html.twig' %}


{% block menuwrap %}
    <div class="col-xs-3" id="sidebar" role="navigation">
    <div class="list-group">
    	
	    <a href="{{ path('atecnica_buscador') }}" class="list-group-item 
         {% if app.request.get('_route') == 'atecnica_buscador'%}
         active
         {% endif %}"
         title="Acceso solo para Jefes de sectores técnicos"
	    >Abordaje inicial de AT</a>

        <a href="{{ path('atecnica_buscarAgendaTecnico') }}" class="list-group-item 
        {% if app.request.get('_route') == 'atecnica_buscarAgendaTecnico'%}
        active
        {% endif %}
        "title="Acceder a agenda de trabajo de un técnico">Agenda de técnicos</a>

        {% if is_granted('ROLE_JDS') %}
        <a href="{{ path('atecnica_buscarAgendaTodosLosTecnicos') }}" class="list-group-item 
        {% if app.request.get('_route') == 'atecnica_buscarAgendaTodosLosTecnicos'%}
        active
        {% endif %}
        "title="Acceder a agenda de trabajo de todos los técnicos">Auditoria de agenda</a>
        {% endif %}
        

        <a href="{{ path('atecnica_baseConocimiento') }}" class="list-group-item 
        {% if app.request.get('_route') == 'atecnica_baseConocimiento'%}
        active
        {% endif %}"
        title="Buscar casos exitosos de reparaciones">Base de conocimiento</a>

    </div>
    </div><!--/span-->
 {% endblock %}