{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Editar Proveedor</h3>

	{{ form(edit_form,{'attr': {'novalidate':'novalidate'}} )}}

    <a href="{{ path('proveedor') }}">
        Volver al Listado
    </a>
{% endblock %}
