
#definicion de una ruta, en este caso es el inicio (viejo index.php)
# de la aplicacion

portada:
    pattern:  /portada/
    defaults: {_controller: BackendBundle:Default:portada }

pagina_estatica:
    pattern:  /estatica/
    defaults: {_controller: BackendBundle:Default:portada }    

ayuda:
    pattern:  /ayuda/
    defaults: {_controller: BackendBundle:Default:ayuda }

inicio:
    pattern:  /
    defaults: { _controller: BackendBundle:Default:inicio }

# importar los archivos de ruteo de los bundles.
patrimonio:
    resource: "@PatrimonioBundle/Resources/config/routing.yml"
    prefix:   /patrimonio

backend:
    resource: "@BackendBundle/Resources/config/routing.yml"
    prefix:   /backend

frontend:
    resource: "@FrontendBundle/Resources/config/routing.yml"
    prefix:   /frontend    


fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"

fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile

fos_user_register:
    resource: "@FOSUserBundle/Resources/config/routing/registration.xml"
    prefix: /register

fos_user_resetting:
    resource: "@FOSUserBundle/Resources/config/routing/resetting.xml"
    prefix: /resetting

fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /profile      


