{% extends 'BackendBundle::base_backend.html.twig' %} 
{% block content %}

    <h3>Ver Ala Sector</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Codigo Interno:</th>
                <td>{{ entity.codigointerno }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('alasector') }}">
     	Volver al Listado
    </a>
{% endblock %}
