{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}

    <h3>Ver Técnico de AT: {{ entity.at.id }}</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Técnico</th>
                <td>{{ entity.tecnico }}</td>
            </tr>
            <tr>
                <th>Jerarquia</th>
                <td>{{ entity.rol }}</td>
            </tr>
            
        </tbody>
    </table>
   
    <a href="{{ path('atecnico', {'atId': entity.at.id }) }}"><h4>Volver</h4></a>
    
{% endblock %}
