{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}
       <h4>Obtener asistencias <strong>resueltas</strong>. Filtradas por falla y/o sintoma declarado..</h4>
    
    {{ form(form)}} 
{% endblock %}