{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}
       <p>Obtener asistencias <strong>Resueltas</strong></p>
       <p> Filtradas por falla y/o sintoma declarado</p>
    
    {{ form(form)}} 
{% endblock %}