{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}
       <h4>Obtener asistencias <strong>Resueltas</strong></h4>
       <p> Filtradas por falla y/o sintoma declarado</p>
       <hr>
    
    {{ form(form)}} 
{% endblock %}