{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}
    <h3>Escoger técnico para Asignar a AT</h3>
    <a href="javascript:history.back(1)">[Volver]</a>
        
    {{ form(form)}} 
    <a href="javascript:history.back(1)">[Ver disponibilidad de técnicos]</a>

{% endblock %}
