{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}  
<h3>Crear perfil técnico</h3> 

    {{ form(form,{'attr': {'novalidate':'novalidate'}} ) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('perfil_listado') }}">
            Regresar a Listado
        </a>
    </li>
</ul>
{% endblock %}
