{% extends 'AtBundle::base_at.html.twig' %} 
{% block content -%}
    <h3>Editar Nota</h3>

    {{ form(form,{'attr': {'novalidate':'novalidate'}}) }}
    

    <a href="{{path('at_nota', {'idAt': entity.at.id }) }}"><h4> Volver</h4></a> 
{% endblock %}
