{% extends 'AtBundle::base_at.html.twig' %} 
{% block content -%}

    <h4>Crear Nota y/o adjuntar archivos en AT: {{ entity.at }}</h4>
    <hr>

    {{ form(form,{'attr': {'novalidate':'novalidate'}}) }}
     
        <a href="{{path('at_nota', {'idAt': entity.at.id }) }}">
        <h4>[Volver]</h4>
        </a>
    
 {% endblock %}
