{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}

    <h3>Ver Nota </h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descripcion:</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha:</th>
                <td>{{ entity.fecha | date('d-m-Y') }}</td>
            </tr>
        </tbody>
    </table>

    <h4> <a href="{{path('at_nota', {'idAt': entity.at.id }) }}">Volver</a> </h4>
    
{% endblock %}
