{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h1>Sector creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sector_listado') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
