{% extends 'BackendBundle::base_backend.html.twig' %} 
{% block title %} Editando Tipo de Sectores {% endblock %}       
{% block content %}
 <h3> Tipo de Sectores </h3>
{{ form(form) }}

{% endblock %}