{% extends 'BackendBundle::base_backend.html.twig' %} 
{% block content %}

<h3>Editar Clasificación de Sectores </h3>

{{ form(form,{'attr': {'novalidate':'novalidate'}} )}}    
        <a href="{{ path('sectortipo_listado') }}">
            Volver a listado
        </a>

{% endblock %}
