{% extends 'BackendBundle::base_backend.html.twig' %}
{% block content %}
    <h3>Ver Clasificación del Sector</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descripcion:</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Origen:</th>
                {% if entity.origen %}
                    <td>si</td>
                {% else %}
                    <td>no</td>    
                {% endif %}
            </tr>
            <tr>
                <th>Destino:</th>
                {% if entity.destino %}
                    <td>si</td>
                {% else %}
                    <td>no</td>    
                {% endif %}   
            </tr>
        </tbody>
    </table>
    <a href="{{ path('sectortipo_listado') }}">
   	Volver al Listado
    </a>
{% endblock %}
