{% extends 'BackendBundle::base_backend.html.twig' %} 
{% block content %}

    <h3>Ver Clasificación de Repuesto</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>

        <a href="{{ path('repuestoclasif') }}">
            Volver
        </a>

{% endblock %}
