{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h1>Rol edit</h1>

{{ form(edit_form,{'attr': {'novalidate':'novalidate'}} )}}

        <ul class="record_actions">
    <li>
        <a href="{{ path('rol') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
