{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Crear Rol </h3>

  {{ form(form,{'attr': {'novalidate':'novalidate'}} )}} 

        <a href="{{ path('rol') }}">
            Volver a listado
        </a>
    

{% endblock %}
