{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Nuevo Rol</h3>

  {{ form(form,{'attr': {'novalidate':'novalidate'}} )}} 

        <ul class="record_actions">
    <li>
        <a href="{{ path('rol') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
