{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Ver Rol</h3>

    <table class="table">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>¿Es Principal?:</th>
                {% if entity.principal %}
                    <td>si</td>
                {% else %}
                    <td>no</td>    
                {% endif %} 
            </tr>
        </tbody>
    </table>

      
        <a href="{{ path('rol') }}">
            Volver a listado
        </a>
    
{% endblock %}
