{% extends 'AtBundle::base_at.html.twig' %} 
{% block content %}

    <h4>Agregar servicio en : {{ entity.at }}</h4>

    {{ form(form,{'attr': {'novalidate':'novalidate'}}) }}
     
    <a href="{{path('at_servicio', {'idAt': entity.at.id }) }}">
        <h5>[Volver]</h5>
    </a>
    
 {% endblock %}
