{% extends 'BackendBundle::base_backend.html.twig' %}

{% block content %}
    <h3>Ver Clasificacion de Estadio</h3>
    <table class="table">
        <tbody>
            <tr>
                <th>Id:</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre:</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Inicializa AT:</th>
                {% if entity.iniciaAt %}
                    <td>si</td>
                {% else %}
                    <td>no</td>    
                {% endif %}
            </tr>
            <tr>
                <th>Finaliza AT:</th>
                {% if entity.finalizaAt %}
                    <td>si</td>
                {% else %}
                    <td>no</td>    
                {% endif %}
            </tr>
        </tbody>
    </table>

   
        <a href="{{ path('estadioclasif') }}">
            Retornar a listado
        </a>
 
{% endblock %}
