{% extends 'PatrimonioBundle::base_patrimonio.html.twig' %} 
{% block content %}
    <h4>Buscador de Patrimonios</h4>
    <br />
    <a href="{{ path('patrimonio_new') }}">
        <h4>[Crear Patrimonio]</h4>
    </a>
    {{ form(form)}}
{% endblock %}
