{% extends 'PatrimonioBundle::base_patrimonio.html.twig' %} 
{% block content %}
    <h3>Buscar Patrimonios</h3>
    <a href="{{ path('patrimonio_new') }}">
        <h4>[Crear]</h4>
    </a>
    {{ form(form)}}
{% endblock %}
