{% extends 'PatrimonioBundle::base_patrimonio.html.twig' %} 

{% block content %}
    <h3>Nuevo Patrimonio</h3>

    {{ form(form,{'attr': {'novalidate':'novalidate'}} )}} <!-- novalidate anula la validacion de los browser y se los reemplaza por los asserts-->

 <ul class="record_actions">
    <li>
        <a href="{{ path('patrimonio') }}">
            <h5> Regresar a la lista </h5>
        </a>
    </li>
</ul>
{% endblock %}
